*{
    box-sizing: border-box;
}
header{
    min-width: 20%;
    max-width: 40%;
    width: 30%;
    height: 30%;
    border-radius: 8px;
    position: center;

}
.links{
    background-color: gray;
    height: 70px;
    width: 1360px;
    text-align: center;
}

a{
    color: white;
    padding: 30px;
    overflow: hidden;
    float: left;
    display: block;
    text-decoration: none;
}