*{
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: rgb(233, 229, 229);
}

img{
    margin-top: 60px;
    margin-left: 5%;
    border-radius: 15px 0;
    border-color: darkblue;
}

.Menu{
    text-align: center;
    margin-top: 80px;
    margin-left: 8%;
}

legend{
    font-size: 43px;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-size: 34px;
}

section{
    height: 500px;
}