* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e5e5e5;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

section {
    padding: 30px;
    border-radius: 15px;
}

.login {
    background: #2c8181;
    color: white;
    width: 410px;
}

.login img {
    width: 120px;
    margin: 20px 113px;
    
}

.cadastro {
    background: white;
    width: 500px;
    color: #2c8181;
}

input {
    width: 100%;
    margin: 8px 0 15px;
    padding: 8px;
}

button#e {
    width: 100%;
    padding: 10px;
    background: white;
    color: #2c8181;
    border: none;
    border-radius: 8px;
}

button#i {
    width: 100%;
    padding: 10px;
    background: #2c8181;
    color: white;
    border: none;
    border-radius: 8px;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    body {
        background: lightblue;
    }

    .barra {
        width: 100%;
        position: relative;
    }
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }
}
